packer_cache
output-virtualbox-iso
ansible/services
output/
config*.yml
*.tfvars
.terraform
*.tfstate
*.tfstate.lock.info
*.backup
.vagrant
.retry
/config
*.retry
.trash/
.env
id_ed25519
.secrets
ctf*json
*.pyc
/docker-compose.override.yml
.vscode/
