SUBSYSTEM=="net", DRIVERS=="virtio_net", ACTION=="add", ATTR{iflink}=="3", NAME="ens10"
SUBSYSTEM=="net", DRIVERS=="virtio_net", ACTION=="add", ATTR{iflink}=="4", NAME="ens11"
SUBSYSTEM=="net", DRIVERS=="virtio_net", ACTION=="add", ATTR{iflink}=="5", NAME="ens12"
SUBSYSTEM=="net", DRIVERS=="virtio_net", ACTION=="add", ATTR{iflink}=="6", NAME="ens13"
SUBSYSTEM=="net", DRIVERS=="virtio_net", ACTION=="add", ATTR{iflink}=="7", NAME="ens14"
SUBSYSTEM=="net", DRIVERS=="virtio_net", ACTION=="add", ATTR{iflink}=="8", NAME="ens15"
SUBSYSTEM=="net", DRIVERS=="virtio_net", ACTION=="add", ATTR{iflink}=="9", NAME="ens16"
SUBSYSTEM=="net", DRIVERS=="virtio_net", ACTION=="add", ATTR{iflink}=="10", NAME="ens17"
SUBSYSTEM=="net", DRIVERS=="virtio_net", ACTION=="add", ATTR{iflink}=="11", NAME="ens18"
SUBSYSTEM=="net", DRIVERS=="virtio_net", ACTION=="add", ATTR{iflink}=="12", NAME="ens19"
SUBSYSTEM=="net", DRIVERS=="virtio_net", ACTION=="add", ATTR{iflink}=="13", NAME="ens20"
