#!/bin/bash
set -e

cat > /etc/netplan/60-floating-ip.yaml <<EOF
network:
  version: 2
  ethernets:
    eth0:
      addresses:
      - ${engine}/32
EOF
netplan apply

%{ for router_index, router in router_ips ~}
  sed -i -e "s#\[\[ROUTER_ADDRESS_${router_index+1}\]\]#${router.ip_address}#g" "/etc/wireguard/internal.conf"
%{ endfor ~}

sed -i -e "s#\[\[ELK_ADDRESS\]\]#${elk}#g" "/etc/wireguard/internal.conf"

systemctl enable --now "wg-quick@internal"
