[Unit]
Description=enodump packet capture
Requires=docker.service
After=docker.service containerd.service wg-quick@game.service
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=3
TimeoutStartSec=300
WorkingDirectory=/pcaps

# all incoming traffic will appear to come from a 10.13.0.0/24 address
ExecStart=/usr/bin/tcpdump -i game -G 30 -w '%%Y_%%m_%%d-%%H_%%M_%%S.pcap' -s 0 ip net 10.13.0.0/24

[Install]
WantedBy=multi-user.target
