{
    "ipv6": true,
    "fixed-cidr-v6": "fd00:1338::/64",
    "insecure-registries":["10.13.37.6:5000","10.13.37.7:5000","10.13.37.5:5000","dockerreg.enowars.com:5000"],
    "log-driver": "syslog",
    "dns": [ "10.13.37.1", "8.8.8.8" ]
}
