WELCOME TO YOUR VULNBOX!
Supported by: floraPOWER Mate, HiSolutions AG, IABG, Neos IT Services, ShiftLeft

Have a look at enowars.com for some useful information.

RUN /usr/bin/network-setup <teamid> <2nd interface> TO CONFIGURE YOUR NETWORK !
