status /etc/openvpn/server/openvpn-status-gw{{ item | string }}.log
log /etc/openvpn/server/openvpn-gw{{ item | string }}.log
verb 3

port {{ item + 30000 }}
proto tcp-server
dev gw{{ item | string }}
dev-type tun
topology p2p
persist-key
persist-tun

keepalive 10 120

ifconfig 10.10.0.{{ item }} 10.10.1.{{ item }}
route 10.10.1.{{ item }} 255.255.255.255