#!/bin/bash

if [ $# -lt 2 ];
then
    echo "Usage: $0 <teamid> <2nd_network_interface>"
    exit 1
fi

TEAMID=$1
INTDEV=$2

echo "#########"
echo "# Creating /etc/teamid"
echo "#########"

echo "$TEAMID" > /etc/teamid

echo "#########"
echo "# Configuring network for team $TEAMID"
echo "#########"
set -x

/sbin/ip -6 route flush root fd00:1337::/32

/sbin/ip link set "$INTDEV" down
/sbin/ip -6 address flush dev "$INTDEV"

/sbin/ip -6 address add "fd00:1337:$TEAMID::2/48" dev "$INTDEV"

/sbin/ip -6 route add "fd00:1337::/32" via "fd00:1337:$TEAMID::1" dev "$INTDEV"

/sbin/ip link set "$INTDEV" up

echo "#########"
echo "# Setting up the NDP proxy"
echo "#########"

cp /etc/ndppd.conf.orig /etc/ndppd.conf
sed -i -e "s/TEAMID/$TEAMID/g" /etc/ndppd.conf
sed -i -e "s/DEV/$INTDEV/g" /etc/ndppd.conf

systemctl stop ndppd
sleep 1
systemctl start ndppd

echo "#########"
echo "# Setting up docker"
echo "#########"
systemctl stop docker
cp /etc/docker/daemon.json.template /etc/docker/daemon.json
sed -i -e "s/TEAMID/$TEAMID/g" /etc/docker/daemon.json
systemctl start docker

echo "#########"
echo "# DONE!"
echo "#########"
