---
  - hosts: all
    become: yes
    become_method: sudo
    vars_files:
      - config_bambi.yml

    roles:
      - role: filebeat
        vars:
          elk: 192.168.3.0
      - role: journalbeat
        vars:
          elk: 192.168.3.0
      - role: metricbeat
        vars:
          elk: 192.168.3.0
      - bambi-ssh-keys
      - firewall
      - bambi-wireguard-router
      - router_trafficcapture
      - role: programs
        vars:
          program_list:
            - "tmux"
            - "git"
      - teamvpn-configs
      - bambi-arkime
