vulnerable_services:
    stonksexchange: https://github.com/ldruschk/bambi-service-stonksexchange.git
github_ssh_keys: [
  ldruschk,
]
vulnbox_access_time: "2024-07-09T20:00:00"
network_open_time: "2024-07-09T21:00:00"
network_close_time: "2024-07-09T22:00:00"
