vulnerable_services:
    stonksexchange: https://github.com/ldruschk/bambi-service-stonksexchange.git
github_ssh_keys: [
  ldruschk,
]
zip_directory: /home/lucas/Documents/prog/bambictf/config/openvpn_configs/zips